PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/placement_recruitment?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
EXTERNAL_API_BASE_URL=https://t4e-testserver.onrender.com/api
EXTERNAL_STUDENT_ID=E0123020
EXTERNAL_STUDENT_PASSWORD=141874
EXTERNAL_DATASET_SET=setA
